.CardboxGroup {
	margin: 0px 16px 16px 16px;
  display: flex;
  overflow-x: auto;
	justify-content: left;
align-items: center;
overflow: visible;
}
@media (min-width: 1367px) {
.CardboxGroup {
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
  margin: 16px 16px 16px 16px;
}	 
}
  .CardboxGroupScroll{
    padding-top: 16px;
    overflow-x: scroll;
    overflow-y: visible;
    width:100%;
    background: transparent;
}