.Card{
	width: 150px;
    height: 220px;
}

.SmallCard{

	width: 25px;
    height: 25px;
}

.CardboxGroup {
	margin: 16px;
	display: grid;
	grid-template-columns: repeat(60, 150px);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: left;
align-items: center;
overflow: visible;
}

.CardboxGroup2 {
  margin: 16px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}	 

       
	
  .CardboxGroupScroll{
    overflow-x: scroll;
    overflow-y: visible;
    width:100%;
    background: transparent;
}
  
  @media (max-width: 720px) {
}