.Emojis{
align-items: end;
}

.Emojibox {
    position: relative;
	overflow: hidden;
	border-radius: 26px;
    background-color: #2B2B2D;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    padding-bottom: 5px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 100px;
    width: 100px;
    padding: 16px;
   outline: none;
   margin-right: 16px;
   margin-bottom: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.Emojibox:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.233);
}

.Emojibox img {
    height: 50px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    -webkit-user-drag: none;
}

.Emojiboxh1 {
	color: rgb(255, 255, 255);
	font-size: 16px;
    margin-top: 16px;
    -webkit-font-smoothing: antialiased;
    margin-left: 5px;
    width: 80px;
}


.EmojiboxGroup {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.EmojiboxGroupScroll{
    overflow-x: scroll;
    overflow-y: visible;
}



  @media (max-width: 1366px) {
    .EmojiboxGroup {
    margin: 20px 0px 40px;
    display: grid;
    grid-template-columns: repeat(10, 140px);
    grid-column-gap: 20px;
    justify-content: left;
    justify-items: stretch;
    overflow: visible;
    margin-left: 16px;
}

.EmojiboxGroupScroll{
    overflow-x: scroll;
    overflow-y: visible;
    width:100%;
    background: transparent;
    padding: 20px 0px -10px;
}
  }
  
 

 ::-webkit-scrollbar{
        height: 10px;
        width: 0px;
    }
 