.Emojis{
align-self: center;
  justify-self: center;
}

.Emojibox {
    position: relative;
	overflow: hidden;
	border-radius: 26px;
	box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    background-color: #2B2B2D;
    padding-bottom:10px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    padding: 20px;
    padding-bottom: 5px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: auto;
    width: 135px;
   outline: none;
}

.Emojibox:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.233);
}

.Emojibox img {
    height: 50px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    margin-left: 5px;
    margin-top: 5px;
    -webkit-user-drag: none;
}

.Emojiboxh1 {
	color: rgb(255, 255, 255);
	font-size: 14px;
    margin-top: 20px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    width: 100px;
}


.EmojiboxGroup {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.EmojiboxGroupScroll{
    overflow-x: scroll;
    overflow-y: visible;
}



  @media (max-width: 1366px) {
    .EmojiboxGroup {
    margin: 20px 0px 40px;
    display: grid;
    grid-template-columns: repeat(10, 140px);
    grid-column-gap: 20px;
    justify-content: left;
    justify-items: stretch;
    overflow: visible;
    margin-left: 16px;
}

.EmojiboxGroupScroll{
    overflow-x: scroll;
    overflow-y: visible;
    width:100%;
    background: transparent;
    padding: 20px 0px -10px;
}
  }
  
 

 ::-webkit-scrollbar{
        height: 10px;
        width: 0px;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }
@media (max-width: 411px) {
    ::-webkit-scrollbar{
        display: none;
    }
}
 