.farmesgrid{
    height:65px;
    border-radius: 15px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.356);
}
.farmesgridgroup{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 .farmesgrid:hover {
	transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.651);
  
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
@media (max-width: 1366px) {
  .farmesgrid{
    height:65px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.356);
}
.farmesgridgroup{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
}