.farmesgrid{
    height:70px;
    border-radius: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.farmesgridgroup{
	display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
 .farmesgrid:hover {
	transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.651);
  
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
