
.farmesgridgroup{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 .framesgrid:hover {
	transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(255, 255, 255, 0.904);
  border-radius: 20px;
    transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
    
}

.role img{
  width: 25px;
  position: absolute;
  z-index: 10;
  margin-top:5px;
  margin-left:5px;
}
.itemsgrid{
    height:65px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.356);
    cursor: pointer;
    user-select: none;
    outline: none;
}
.itemsgrid:hover {
	transform: scale(1.1, 1.1);
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.651);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.framesgrid{
    height:65px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.356);
    cursor: pointer;
    user-select: none;
    outline: none;
}