.Imginfo{
    display:flex;
    flex-direction: row;
    text-align:left;
      justify-content: left;
      padding-left:20px;
      padding-top:10px;
      padding-bottom:10px;
}

.ModalItem {
    max-width: 380px;
	height: auto;
	width: 95%;
	margin: 0 auto;
	outline: none;
	border-radius: 20px;
	background-color: #1f1f21;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.418);
	outline: none;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ModalItem img{
    width: 50px;
    height: 50px;
    text-align:center;
    margin-top: 15px;
    -webkit-user-drag: none;
}

.Info{
    text-align: left;
    margin-left: 10px;
}

.Info h1{
    color: rgb(255, 255, 255);
	font-size: 18px;
    -webkit-font-smoothing: antialiased;
    width:165px;
}

.Info h2{
    font-weight: 800;
	font-size: 12px;
    margin-top: -5px;
    -webkit-font-smoothing: antialiased;
}

.Info h3{
    color: rgb(119, 119, 119);
	font-weight: 800;
    font-size: 12px;
    margin-top: -5px;
    -webkit-font-smoothing: antialiased;
}

.ModalItem p{
     position: absolute;
    top: 30px;
    right: 20px;
}

.divider{
    height: 3px;
  background: rgba(240, 243, 245, 0.1);;
  border-radius: 30px;
  margin: 16px;
}

.ModalItem h4{
    color: rgba(255,255,255, 0.8);
	font-weight: 350;
	font-size: 14px;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
    text-align:left;
    margin-left:20px;
    margin-right:20px;
}

.ModalItem h5{
    color:#4adad2;
	font-weight: 700;
	font-size: 14px;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
    text-align:left;
    margin-left:20px;
    margin-right:20px;
    margin-top:-5px;
}

  .buildfromto{
    color: rgba(255,255,255, 0.8);
	font-weight: 800;
	font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-align:left;
    margin-left:20px;
}

.ItemsRequired{
    text-align: left;
    margin-left:20px;
    display:grid;
    grid-template-columns: repeat(5, 55px)
}

  ::-webkit-scrollbar{
        height: 10px;
        width: 0px;
    }