
.Skillbox {
    position: relative;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(0,0,0, 0.15);
    background-color: #2B2B2D;
    padding-bottom:10px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    min-height: 100%;
   outline: none;
}

.Skillbox:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.233);
}


.Skillbox img {
    height: 60px;
    width: 60px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.418);
    -webkit-user-drag: none;
}

.Skillbox h1 {
    text-transform: uppercase;
	color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.Skillbox h2 {
	color: rgba(255,255,255, 0.8);
	font-weight: 600;
    font-size: 16px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.Skillbox p {
	color: rgba(255,255,255, 0.8);
	font-weight: 350;
	font-size: 14px;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
}

.SkillboxGroup {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: left;
    justify-items: stretch;
    min-height: 100%;
}

.SkillboxGroupScroll{
    overflow-x: visible;
	overflow-x: scroll;
    width:100%;
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

.Tableclass {
    margin: 0 auto;
     width: 98%;
     margin-top: 30px;
     border:0px;
}

.Tableclass tr{
    font-weight: 600;
}

.Tableclass th{
    font-size: 12px;
    color: white;
    font-weight: 500;
    height: 25px;
}

.Tableclass td{
    font-size: 12px;
    color: white;
    text-align: left;
}
.striped{
    background: rgba(128, 128, 128, 0.171);
}

@media (min-width: 1367px) {
    .SkillboxGroup {
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    margin-left: -70px;
    grid-auto-rows: 1fr;
}
}

  ::-webkit-scrollbar{
        height: 10px;
        width: 0px;
    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: rgba(0, 0, 0, 0.24);
        border-radius: 10px;
    }

