
.Skillbox {
    position: relative;
	overflow: hidden;
	border-radius: 26px;
    background-color: #2B2B2D;
    padding-bottom:10px;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
   outline: none;
    -webkit-tap-highlight-color: transparent;
    min-height: 344px;
}


.Skillbox img {
    height: 60px;
    width: 60px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    border-radius: 20px;
    margin-bottom: 10px;
    -webkit-user-drag: none;
}

.Skillbox h1 {
    text-transform: uppercase;
	color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.Skillbox h2 {
	color: rgba(255,255,255, 0.8);
	font-weight: 600;
    font-size: 12px;
    margin: 0;
    margin-top: 6px;
    -webkit-font-smoothing: antialiased;
}
.Skillboxp {
	color: rgba(255,255,255, 0.8);
	font-weight: 350;
    font-size: 14px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
    margin: 0;
    text-align: justify;
}

.Skillboxbutton {
    position: absolute;
    bottom: 32px;
    background: transparent;
    border: none;
	background: #434348;
	font-weight: 350;
    font-size: 14px;
    width: 85%;
    height: 40px;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
    text-align: justify;
    cursor: pointer;
    user-select: none;
   outline: none;
   text-align: center;
   font-weight: 600;
   color: #cccccf;
}

.SkillboxGroup {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: left;
    justify-items: stretch;
    min-height: 100%;
}

.SkillboxGroupScroll{
    overflow-x: visible;
	overflow-x: scroll;
    width:100%;
    background: transparent;
    -webkit-overflow-scrolling: touch;
}

.Tableclass {
     width: 90%;
     margin: 16px;
     border:0px;
}

.Tableclass tr{
    font-weight: 600;
}

.Tableclass th{
    font-size: 12px;
    color: white;
    font-weight: 500;
    height: 25px;
}

.Tableclass td{
    font-size: 12px;
    color: white;
    text-align: left;
}
.striped{
    background: rgba(128, 128, 128, 0.171);
}

@media (min-width: 1367px) {
    .SkillboxGroup {
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    margin-left: -70px;
    grid-auto-rows: 1fr;
}
}

  ::-webkit-scrollbar{
        height: 10px;
        width: 0px;
    }

