
.Statbox {
    width: 150px;
	border-radius: 0px;
    box-sizing: border-box;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background: #2b2b2e;
    border-radius: 26px;
    padding: 16px;
    margin: 0px 16px 6px 16px;
    flex: 0 0 1
}


.Statbox h2 {
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.Statbox h3 {
    color: white;
	font-weight: 650;
	font-size: 20px;
    margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
}


.StatboxGroup {
    border-radius: 20px;
    box-sizing: border-box;
    width:auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    box-align: center;
    max-width: 1366px;
    margin: 0 auto;
}


 