.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 auto;
  padding: 0px;
  background: none;
  margin-bottom: 50px;
  width: 700px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  margin-top:30px;

  background:  rgb(43, 43, 45);
}

  .Subcategory {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 19px;
  cursor: pointer;
  color:#acacac93;
  outline:none;
  font-weight: 650;
  font-size: 18px;
  padding:20px;
}



.react-tabs__tab--selected {
  font-size: 18px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  outline:none;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.react-tabs__tab:focus {
  outline: none;
  height: 30px;
  width:auto;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 10px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  outline:none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}